.reveal .stretch-wide {
  max-width: none; }

.reveal pre.stretch-wide code {
  box-sizing: border-box; }

.reveal .stretch-me {
  max-width: none;
  max-height: none; }

.reveal pre.stretch-me code {
  height: 100%;
  max-height: 100%;
  box-sizing: border-box; }

.reveal .small-code {
  font-size: .4em; }

body::after {
  background-image: url("../../assets/img/prometsource-logo.png");
  background-image: url(../../../images/prometsource/prometsource-logo.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  bottom: 20px;
  content: "";
  display: block;
  height: 70px;
  left: 2%;
  position: absolute;
  width: 270px; }
